@import 'base/fonts';
@import 'base/mixins';
@import 'base/variables';

* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1140px !important;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/presentation';
@import 'blocks/buttons';
@import 'blocks/slider';
@import 'blocks/speaker';
@import 'blocks/popup';
@import 'blocks/modal';


@import 'base/media';