a {
    @include link-use ();
}

.header {
    transition: all 1s linear;
    background-color: #EBEEF5;
    padding: 20px 50px 21px 50px;

    &__wrapper {
        @include flex-box ();
        position: relative;
    }

    &__logo,
    &__menu {
        margin-right: 25px;
    }

    &__contact {
        @include flex-box ();
    }
}

.logo__img {
    width: 100%;
    object-fit: cover;
}

.menu {
    &__list {
        @include flex-box ();
    }

    &__item {
        margin-right: 30px;


        &:nth-child(6) {
            margin-right: 0;

        }
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 34px;
        // letter-spacing: .1em;
        transition: text-shadow .3s;


        &:hover {
            // font-weight: 600;
            color: $main-color;
            border-bottom: 3px solid $main-color;
            text-shadow: 0 0 1px $main-color, 0 0 1px $main-color;

        }

        // &:hover:after {
        //     display: block; 
        //  }

        // &:after {
        //     content: "";
        //     display: none;
        //     width: 100%;
        //     height: 3px;
        //     background-color: $main-color;
        //     box-shadow: 0px -1px 2px rgba(40, 88, 179, 0.15);
        //     border-radius: 6px;
        // }

    }
}

.contact {
    &__mail {
        margin-right: 24px;

        p {
            font-weight: 500;
            font-size: 22px;
            line-height: 27px;
            color: #2B2D3A;
            margin-bottom: 16px;
        }

        &-img {
            margin-right: 8px;
        }

        &-link {
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            display: flex;
            align-items: center;

        }
    }

    &__phone {
        display: flex;

        &-img {
            margin-right: 8px;
            cursor: pointer;
        }

        &-wrapper {
            display: flex;
            flex-direction: column;
        }

        &-callback {
            font-style: normal;
            font-weight: normal;
            font-size: 11px;
            line-height: 13px;
            color: $main-color;
            margin-bottom: 4px;
        }

        &-link {
            font-style: normal;
            font-weight: 600;
            // font-size: 13px;
            @include adaptiv-font(13, 11);
            line-height: 16px;
        }
    }
}

// .fix {
//     position: fixed;
//     width: 100%;
//     z-index: 100;
//     transition: all .5s linear;
//     top: 0;
// }
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  
 
  .sticky + .content {
    padding-top: 60px;
  }