.slider {
    position: absolute;
    display: flex;
    max-width: 515px;
    // top: 214px;
    top: 214px;
    right: 0;
}

.slide {
    position: relative;
    margin-right: 72px;
    max-width: 322px;
    opacity: 0.4;

    &__title {
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        letter-spacing: 0.02em;
        color: $main-color;
    }

    &__text {
        max-width: 322px;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: rgba(255, 255, 255, 0.7);
        text-align: justify;
    }
}

.line {
    position: absolute;
    width: 205px;
    height: 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transform: rotate(90deg);
    top: 128px;
    left: 205px;

}

.slick-prev {
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 32px;
    height: 32px;
    background-color: rgba(186, 209, 255, 0.1);
    border-radius: 50%;
    border: none;
    opacity: 0.5;
    &:hover {
        background-color: $main-color; 
        opacity: 1;
    }
}

.slick-next {
    position: absolute;
    bottom: -60px;
    left: 74px;
    width: 32px;
    height: 32px;
    background-color: rgba(186, 209, 255, 0.1);
    border-radius: 50%;
    border: none;
    opacity: 0.5;
    &:hover {
        background-color: $main-color; 
        opacity: 1;
    }
}

.slick-active {
    opacity: 1;
}
.arrow {
    width: 10px;
    height: 10px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    &_prev {
        transform: rotate(-135deg);
         margin: 0 auto;
    }
    &_next {
        transform: rotate(45deg);
    }
} 