.speaker {
    // max-width: 1920px;
    padding-top: 166px;
    background-color: #E5E5E5;
    @include flex-box();
    justify-content: center;

    &__inner {
        width: 100%;
        @include flex-box();
        justify-content: center;
    }

    &__show {
        // min-height: 620px;
        // width: 50%;
        // background-color: #DAE3F6;
        // position: relative;
        flex-basis: 50%;
        // background: url(../../img/bg/Frame4.png) center (center/cover) no-repeat;
    }

    &__mark {
        // width: 50%;
        flex-basis: 50%;
        position: relative;
        // background: url(../img/Group711.png) center (center/cover) no-repeat;
    }

    &__wrapper {
        position: relative;
        width: 100%;
        // background: url(../img/Group711.png) center (center/cover) no-repeat;
        // min-height: 620px;
        // @include flex-box();
        // align-items: start;
    }

    // &__room {
    //     position: relative;
    // }

    &__unit {
        display: block;
        position: absolute;
        top: 58px;

        &_left {
            left: 184px;
        }

        &_right {
            // right: 211px;
            left: 672px;
        }
    }

    &__popup {

        &_left {
            top: -109px;
            left: 48px;
            border-radius: 10px;
            background-color: #fff;
            position: absolute;
            display: none;
        }

        &_right {
            top: -94px;
            // right: 67px;
            left: 415px;
            border-radius: 10px;
            background-color: #fff;
            position: absolute;
            display: none;
        }

    }

    &__bg {
        width: 100%;
        object-fit: cover;
object-position: 0 0;
    }
}

.unit {
    display: block;
    position: absolute;

    &_left {
        top: 210px;
        // left: 155px;
        right: 410px;
    }

    &_right {
        top: 132px;
        right: 188px;
    }
}

.ellipse {
    position: absolute;
    width: 517px;
    height: 48px;
    left: 230px;
    bottom: 125px;
    border-radius: 50%;
    background: rgba(29, 29, 29, 0.25);
    filter: blur(40px);
}

.circle {
    &_big {
        position: absolute;
        top: 59px;
        width: 73px;
        height: 73px;
        border-radius: 50%;
        background: rgba(57, 125, 255, 0.15);
        border: 1px solid $main-color;
display: flex;
        // margin-top: 4.5%;
        &-mini {
            position: static;
            margin: 0 auto;
            width: 160px;
            height: 160px;
            display: flex;
            margin-bottom: 24px;

            .circle_small {
                display: flex;
                background-color: $main-color;
                width: 77px;
                height: 77px;
                margin: 0 auto;
                margin-top: 40px;
            }
        }
    }

    &_big-right {
        // left: 710px;
        right: 20%;

    }

    &_big-left {
        // left: 177px;
        left: 17%;
    }


    &_small {
        width: 27px;
        height: 27px;
        border: 1px solid $main-color;
        border-radius: 50%;
        margin: 23px 23px;
        transition: background-color .3s;
        cursor: pointer;

        &:hover {
            background-color: $main-color;
        }

        &:hover .plus {
            display: block;
        }

    }
}

.plus {

    display: none;
    background-color: #fff;
    width: 9px;
    height: 1.2px;
    margin: 0 auto;
    margin-top: 13.5px;

    &_v {
        transform: rotate(90deg);
        margin-top: -1.2px;
    }
}